.header-wraper{
     position: relative;
     background-image: url(../../images/dark-wallpapers.jpg);
     opacity: 0.9;
     background-size: cover;
     background-position: center;
     height: 90vh;
}
.main-info{
    display: flex;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
    color: var(--primary-white);
    text-transform: uppercase;
    color: orange;
    font-weight: 900;
}

.typed-text{
    /* font-size: 2rem; */
    color: white;
}

.btn-main-offer{
    text-decoration: none;
    border: 1px solid #ef4035;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: #fff;
    margin: 2rem;
}
.btn-main-offer:hover{
    background-color: tomato;
    color: #fff;
    transition: .2s ease-in-out;
}
nav{
    z-index: 2;
}